@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

.studentCard {
  width: 15%;
  height: 20%;
  white-space: nowrap;
  padding: 2px;
  font-family: 'Indie Flower', cursive;
  
  img {
    border-radius: 5em;
    border: white 3px solid;
  }
}